<%= form_with(model: building) do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>Building fields </p>
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>
    <p>Apartment fields </p>
    <%= form.fields_for :apartments do |apartment_form | %>
    <%= apartment_form .label :number %>
    <%= apartment_form .text_field :number %>
    <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
